h1 {
	font-family: 'Helvetica';
	font-size: 32px;
	color: White;
}

h2 {
	font-family: 'Helvetica';
	font-size: 2em;
	color: White;
}

.navbar img {
	height: 80px;
}

/*
.navbar * {
	color: #f5f4df; <!-- off white->
	text-decoration: none;
	margin: 20px;
	font-size: 1em;
}
*/

/*
nav {
	font-family: 'Helvetica';
	font-size: 20px;
	color: #f5f4df;
	text-decoration: none;
}
*

/* The navigation bar */
.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	background-color: #3b3f46; <!-- light gray-->
  position: fixed;
  top: 0;
	left: 0;
  height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 0 25px black;
}

.navbutton {
  background-color: #fed053; /* light yellow */
	border: 1px solid #fed053;
	border-radius: 25px;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-family: 'Helvetica';
}

.navbar .navbuttoncontainair {
	padding-right: 40px;
	align-items: right;

}

.homecontainter {
	align-items: center;
  justify-content: center;
	padding-top: 120px;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
}

.homeimage {
	float: left;
	padding-left: 100px;
}

.hometext {
	font-family: 'Helvetica';
	font-size: 18px;
	color: white;
	padding-left: 40px;
	padding-right: 100px;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-left: 300px;
}

.intro .content {
	text-align: justify;
	font-size: 24px;
	font-family: 'Helvetica';
	color: #f5f4df; <!-- off-white-->
}

p {
	font-family: 'Helvetica';
	font-size: 1em;
	color: White;
}

li {
	font-family: 'Helvetica';
	font-size: 1em;
	color: white;
}

#profile_pic {
	height: 400px;
	border: 5px solid #fed053;
	padding-right: 40px;

}

.involvement_icon {
	height: 60px;
}

/*
body{
	/*background-color: black;*
	height: 125vh;
	margin-top: 80px;
	padding: 30px;

}
*/

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
