h1 {
	font-family: 'Helvetica';
	font-size: 32px;
	color: White;
}

h2 {
	font-family: 'Helvetica';
	font-size: 20px;
	color: White;
}

.navbar img {
	height: 80px;
}

/* The navigation bar design */
.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
	background-color: #3b3f46; /*light gray */
  position: fixed;
  top: 0;
	left: 0;
  height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 0 25px black;
}

/* navbar inactive links */
.navbar a {
  background-color: #3b3f46; /* light gray */
	border: 1px solid #3b3f46;
	border-radius: 25px;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	font-family: 'Helvetica';
}

/* navbar hover link design */
.navbar a:hover {
	background-color: white;
	border: 1px solid black;
	border-radius: 25px;
	color: black;
}

/* navbar active page link design */
.navbar a.active {
	background-color: #fed053;
	border: 1px solid #fed053;
	border-radius: 25px;
	color: black;
}

/* aligning navbar items right */
.navbar-right {
	align-items: right;
}

.homecontainer {
	align-items: center;
  justify-content: center;
	padding-top: 120px;
	padding-left: 120px;
	padding-right: 120px;
	display: flex;
}

.homeimage {
	float: left;
	padding-left: 100px;
}

.hometext {
	font-family: 'Helvetica';
	font-size: 18px;
	color: white;
	padding-left: 40px;
	padding-right: 100px;
}

.resume_container {
	/*align-items: center;*/
	display: flex;
	padding-top: 120px;
	padding-left: 160px;
	padding-right: 160px;
}

#resume_section_title {
	font-size: 28px
}

#resume_org_title {
	font-size: 18px;
	padding-left: 20px;
}

#resume_location {
	text-align: right;
	float: right;
}

#resume_dates {
	text-align: right;
	float: right;
}

p {
	font-family: 'Helvetica';
	font-size: 16px;
	color: White;
}

li {
	font-family: 'Helvetica';
	font-size: 1em;
	color: white;
}

#profile_pic {
	height: 400px;
	border: 5px solid #fed053;
	border-radius: 25px;
	box-shadow: 0 0 25px ##fed053;

}

.involvement_icon {
	height: 60px;
}

/*
body{
	/*background-color: black;*
	height: 125vh;
	margin-top: 80px;
	padding: 30px;

}
*/

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
